@import url('https://fonts.googleapis.com/css?family=Libre Barcode 128 Text');
@import url('https://fonts.googleapis.com/css?family=Syne Mono');

:root {
    font-family: 'Syne Mono';
    color: green;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
}

body {
    margin: 0;
    background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
}

.page-title {
    font-family: 'Libre Barcode 128 Text';
    text-shadow: 0px 0px 40px green;
    font-size: 3em;
    font-weight: normal;
    padding: 20px;
    top: 5px;
    left: 5px;
    margin: 0;
    position: absolute;
    z-index: 999;
}

.fa-question-circle {
    color:green;
    font-size: 2em;
    position: absolute;
    display: unset;
    top: 30px;
    right: 20px;
    text-shadow: 0px 0px 20px green;
    cursor: pointer;
    z-index: 97;
}

.fa-question-circle:hover {
    text-shadow: 0px 0px 40px white;
    color: white;
}

.info-overlay {
    display: none;
    text-shadow: 0px 0px 30px green;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 50px;
    z-index: 10;
}

.info-overlay p {
    flex-direction: column;
    padding: 5px;
}

.info-overlay.visible {
    display: flex;
    animation: info-grow 500ms forwards;
    -webkit-animation: info-grow 500ms forwards;
    -moz-animation: info-grow 500ms forwards;
    -o-animation: info-grow 500ms forwards;
    -ms-animation: info-grow 500ms forwards;
}

.fa-undo {
    display: flex;
    text-shadow: 0px 0px 30px green;
    color: green;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-top: 75px;
    margin-right: 23px;
    font-size: 1.5em;
    z-index: 99;
    cursor: pointer;
}

.fa-undo:hover {
    text-shadow: 0px 0px 40px green;
    color: white;
}

.fa-undo.hidden {
    z-index: 90;
}

.reset-overlay {
    display: none;
    text-shadow: 0px 0px 30px green;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 50px;
    z-index: 98;
}

.reset-overlay.visible {
    display: flex;
    animation: info-grow 500ms forwards;
    -webkit-animation: info-grow 500ms forwards;
    -moz-animation: info-grow 500ms forwards;
    -o-animation: info-grow 500ms forwards;
    -ms-animation: info-grow 500ms forwards;
}


.sfx {
    display: flex;
    z-index: 1000;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    color: green;
    border: none;
    position: fixed;
    bottom: 10px;
    left: 20px;
    cursor: pointer;
}

.sfx:hover {
    text-shadow: 0px 0px 40px white;
    color: white;
}

.sfx.visible {
    display: flex;
}

.sfx.hidden {
    display: none;
}

.welcome-overlay {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.5em;
    text-shadow: 0px 0px 60px green;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 998;
}

.welcome-tag{
    font-size: 1.5em;
    text-shadow: 0px 0px 10px green; 
}

.welcome-overlay.visible {
    display: none;
    animation: fade-out 500ms forwards;
    -webkit-animation: fade-out 500ms forwards;
    -moz-animation: fade-out 500ms forwards;
    -o-animation: fade-out 500ms forwards;
    -ms-animation: fade-out 500ms forwards;
}

.welcome-overlay label {
    font-weight: bolder;
    font-size: 0.9em;
}

.welcome-overlay input {
    font-family: 'Syne Mono';
    font-size: 0.6em;
    font-weight: bolder;
    height: 30px;
    width: 200px;
    color: green;
    background-color: black;
    border: 3px solid green;
    border-radius: 5%;
}

.welcome-overlay input:focus {
    outline: green;
    box-shadow: 0px 0px 20px lightgreen;
}

.welcome-button {
    margin-top: 100px;
    height: 40px !important;
    width: 120px !important;
    font-size: 0.7em !important;
    background-color: green !important;
    font-family: 'Syne Mono';
    font-weight: bolder;
    color: white !important;
    border: none;
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.welcome-button:hover {
    background-color: white !important;
    color: green !important;
    box-shadow: 0px 0px 30px green;
    border: 2px solid green;
}

.start-game {
    margin: 30px;
    height: 40px;
    width: 120px;
    background-color: green;
    font-family: 'Syne Mono';
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.start-game:hover {
    background-color: white;
    color: green;
    box-shadow: 0px 0px 30px green;
    border: 2px solid green;
}

.rules {
    display: none;
    background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0.9em;
    text-shadow: 0px 0px 40px green;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: -10px;
    z-index: 998;
}

.rules.visible {
    display: flex;
}

.rules h1 {
    margin-top: 50px;
}

.rules h2 {
    margin-top: -5px;
}

.stars {
    margin: 0 auto 0 auto;
    padding-top: 10px;
    padding: 10px;
    width: 70%;
    margin-top: 10px;
    text-align: center;
    border: 1px solid green;
}

.level-overlay-tag {
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 0px 0px 40px green;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin-top: 175px;
    justify-content: center;
    perspective: 500px;
    animation: info-grow 500ms forwards;
    -webkit-animation: info-grow 500ms forwards;
    -moz-animation: info-grow 500ms forwards;
    -o-animation: info-grow 500ms forwards;
    -ms-animation: info-grow 500ms forwards;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 1.25em;
    text-shadow: 0px 0px 15px green;
}

.card {
    position: relative;
    height: 100px;
    width: 75px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px green;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 1s linear infinite 1000ms;
    -webkit-animation: dance 1s linear infinite 1000ms;
    -moz-animation: dance 1s linear infinite 1000ms;
    -o-animation: dance 1s linear infinite 1000ms;
    -ms-animation: dance 1s linear infinite 1000ms;
}

.card-front {
    border-radius: 5%;
    background-color: #001f00;
    border: 2px solid green;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.card-back {
    border: 2px solid green;
    border-radius: 5%;
    background: black;
}

.card-back:hover {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}

.card-barcode {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 400ms ease-in-out;
}

.card-back:hover .card-barcode-top {
    transform: scale(0.9) translateX(8px) translateY(-5px);
    -webkit-transform: scale(0.9) translateX(8px) translateY(-5px);
    -moz-transform: scale(0.9) translateX(8px) translateY(-5px);
    -o-transform: scale(0.9) translateX(8px) translateY(-5px);
    -ms-transform: scale(0.9) translateX(8px) translateY(-5px);
}

.card-back:hover .card-barcode-bottom {
    transform: scale(0.9) translateX(-8px) translateY(5px);
    -webkit-transform: scale(0.9) translateX(-8px) translateY(5px);
    -moz-transform: scale(0.9) translateX(-8px) translateY(5px);
    -o-transform: scale(0.9) translateX(-8px) translateY(5px);
    -ms-transform: scale(0.9) translateX(-8px) translateY(5px);
}

.overlay-text {
    font-size: 1em;
    text-shadow: 0px 0px 30px green;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    flex-direction: column;
}

.fname {
    text-shadow: 0px 0px 30px green;
}

.fname-congrats {
    text-transform: uppercase;
    text-shadow: 0px 0px 30px green;
}

.overlay-button {
    display: flex;
    height: 50px;
    width: 150px;
    background-color: green;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.overlay-button:hover {
    background-color: white;
    color: green;
    box-shadow: 0px 0px 30px green;
}

.overlay-button.visible {
    display: flex;
    animation: overlay-button-grow 500ms forwards;
    -webkit-animation: overlay-button-grow 500ms forwards;
    -moz-animation: overlay-button-grow 500ms forwards;
    -o-animation: overlay-button-grow 500ms forwards;
    -ms-animation: overlay-button-grow 500ms forwards;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    -webkit-animation: overlay-grow 500ms forwards;
    -moz-animation: overlay-grow 500ms forwards;
    -o-animation: overlay-grow 500ms forwards;
    -ms-animation: overlay-grow 500ms forwards;
}



/*-----media queries-----*/

/*-----desktop styling-----*/
@media only screen and (min-width: 700px) {

    .page-title {
        text-shadow: 0px 0px 10px green; 
        font-size: 4em;
    }

    .info-overlay {
        display: none;
        text-shadow: 0px 0px 30px green;
        background-color: rgba(0, 0, 0, 0.829);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 50px;
    }
    
    .info-overlay p {
        flex-direction: column;
        padding: 5px;
    }
    
    .info-overlay.visible {
        display: flex;
    }

    .welcome-overlay {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 2.5em;
        text-shadow: 0px 0px 40px green;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .welcome-tag{
        text-shadow: 0px 0px 10px green; 
    }

    .welcome-overlay label {
        font-weight: bolder;
        font-size: 0.5em;
    }

    .welcome-button {
        margin-top: 100px;
        height: 50px !important;
        width: 150px !important;
        font-size: 0.6em !important;
        background-color: green !important;
        font-family: 'Syne Mono';
        font-weight: bolder;
        color: white !important;
        border: none;
        border-radius: 5%;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    
    .welcome-button:hover {
        background-color: white !important;
        color: green !important;
        box-shadow: 0px 0px 30px green;
        border: 2px solid green;
    }
    
    .welcome-overlay input {
        color: green;
        width: 200px;
        height: 30px;
        background-color: black;
        box-shadow: 0px 0px 20px green; 
        border: 3px solid green;
        border-radius: 5%;
    }

    .rules {
        display: none;
        background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.2em;
        text-shadow: 0px 0px 40px green;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        column-gap: 100px;
        animation: none !important;
    }
    
    .rules.visible {
        display: flex;
    }
    
    .stars {
        margin: 0 auto 0 auto;
        padding-top: 10px;
        padding: 10px;
        width: 50%;
        margin-top: 10px;
        text-align: center;
        border: 1px solid green;
    }

    .fa-star {
        padding: 5px;
        text-align: left;
    }

    .reset-overlay {
        display: none;
        text-shadow: 0px 0px 30px green;
        background-color: rgba(0, 0, 0, 0.829);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 50px;
        font-size: 1.5em;
    } 
    
    .fa-undo {
        text-shadow: 0px 0px 30px green;
        color: green;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        text-align: right;
        margin-top: 75px;
        margin-right: 23px;
        font-size: 1.5em;
        cursor: pointer;
    }
    
    .start-game {
        margin: 30px;
        height: 60px;
        width: 160px;
        font-size: 0.9em;
        background-color: green;
        font-family: 'Syne Mono';
        font-weight: bolder;
        color: white;
        border: none;
        border-radius: 5%;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    
    .start-game:hover {
        background-color: white;
        color: green;
        box-shadow: 0px 0px 30px green;
        border: 2px solid green;
    }
    
    .game-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        margin-top: 175px;
        justify-content: center;
        perspective: 500px;
    }

    .card {
        height: 150px;
        width: 100px;
        margin: 5px;
        border-radius: 5%;
    }

    .overlay-text {
        font-size: 2.2em;
        text-shadow: 0px 0px 30px green;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    
    .overlay-button {
        display: flex;
        height: 50px;
        width: 150px;
        font-size: 0.5em;
        background-color: green;
        font-weight: bolder;
        color: white;
        border: none;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        cursor: pointer;
    }
    
    .overlay-button:hover {
        background-color: white;
        color: green;
        box-shadow: 0px 0px 30px green;
    }

    .overlay-button.visible {
        display: flex;
        animation: overlay-button-grow 500ms forwards;
        -webkit-animation: overlay-button-grow 500ms forwards;
        -moz-animation: overlay-button-grow 500ms forwards;
        -o-animation: overlay-button-grow 500ms forwards;
        -ms-animation: overlay-button-grow 500ms forwards;
    }
    
    .overlay-text.visible {
        display: flex;
        flex-direction: column;
        animation: overlay-grow 500ms forwards;
        -webkit-animation: overlay-grow 500ms forwards;
        -moz-animation: overlay-grow 500ms forwards;
        -o-animation: overlay-grow 500ms forwards;
        -ms-animation: overlay-grow 500ms forwards;
    }

    .sfx {
        background-color: rgba(0, 0, 0, 0);
        font-size: 2em;
        color: green;
        border: none;
        position: fixed;
        left: 20px;
        cursor: pointer;
    }

}

/*-----landscape tablet styling-----*/
@media only screen and (min-device-width : 700px) and (max-device-width : 1280px) and (orientation : landscape) {


    .welcome-overlay {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 2em;
        text-shadow: 0px 0px 40px green;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        animation: none !important;
    }

    .welcome-tag{
        text-shadow: 0px 0px 10px green; 
    }

    .welcome-overlay label {
        font-weight: bolder;
        font-size: 0.6em;
    }

    .welcome-button {
        margin-top: 100px;
        height: 50px;
        width: 150px;
        font-size: 0.6em;
        background-color: green !important;
        font-family: 'Syne Mono';
        font-weight: bolder;
        color: white !important;
        border: none;
        border-radius: 5%;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }

    .rules {
        display: none;
        background-image: linear-gradient(315deg, #001f00 0%, #0D0208 100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1em;
        text-shadow: 0px 0px 40px green;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        column-gap: 100px;
    }
    
    .rules.visible {
        display: flex;
    }
    
    .stars {
        margin: 0 auto 0 auto;
        padding-top: 10px;
        padding: 10px;
        width: 70%;
        margin-top: 10px;
        text-align: center;
        border: 1px solid green;
    }

    .game-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        margin-top: 150px;
        justify-content: center;
        perspective: 500px;
    }

    .card {
        height: 120px;
        width: 80px;
        margin: 5px;
        border-radius: 5%;
    }
}

/*-----landscape mobile styling-----*/
@media only screen and (min-device-width : 319px) and (max-device-width : 800px) and (orientation : landscape) {

    .page-title {
        font-family: 'Libre Barcode 128 Text';
        text-shadow: 0px 0px 40px green;
        font-size: 3em;
        font-weight: normal;
        padding: 20px;
        top: 5px;
        left: 5px;
        margin: 0;
        position: absolute;
        z-index: 999;
    }

    .info-overlay {
        display: none;
        text-shadow: 0px 0px 30px green;
        background-color: rgba(0, 0, 0, 0.829);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 0.7em;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 40px;
    }
    
    .info-overlay p {
        flex-direction: column;
        padding: 5px;
    }

    .fa-question-circle {
        color:green;
        font-size: 1.5em;
        position: absolute;
        display: unset;
        top: 30px;
        right: 20px;
        text-shadow: 0px 0px 20px green;
        cursor: pointer;
    }
    
    .fa-undo {
        text-shadow: 0px 0px 30px green;
        color: green;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        text-align: right;
        margin-top: 73px;
        margin-right: 23px;
        font-size: 1.1em;
        cursor: pointer;
    }

    .welcome-overlay {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1em;
        text-shadow: 0px 0px 40px green;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        animation: none !important;
    }

    .welcome-tag{
        font-size: 2em;
        text-shadow: 0px 0px 10px green; 
    }

    .welcome-overlay label {
        font-weight: bolder;
        font-size: 0.6em;
    }

    .welcome-overlay input {
        font-family: 'Syne Mono';
        font-size: 0.9em;
        font-weight: bolder;
        height: 30px;
        width: 200px;
        color: green;
        background-color: black;
        border: 3px solid green;
        border-radius: 5%;
    }

    .welcome-button {
        margin-top: 10px;
        height: 40px !important;
        width: 120px !important;
        font-size: 1em !important;
        background-color: green !important;
        font-family: 'Syne Mono';
        font-weight: bolder;
        color: white !important;
        border: none;
        border-radius: 5%;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    
    .welcome-button:hover {
        background-color: white !important;
        color: green !important;
        box-shadow: 0px 0px 30px green;
        border: 2px solid green;
    }
    .welcome-overlay label {
        font-weight: bolder;
        font-size: 0.9em;
    }

    .start-game {
        margin: 10px;
        height: 50px;
        width: 120px;
        background-color: green;
        font-family: 'Syne Mono';
        font-weight: bolder;
        font-size: 1.3em;
        color: white;
        border: none;
        border-radius: 5%;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    
    .start-game:hover {
        background-color: white;
        color: green;
        box-shadow: 0px 0px 30px green;
        border: 2px solid green;
    }

    .rules {
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 0.7em;
        text-shadow: 0px 0px 40px green;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto 0 auto;
        margin-left: 10px;
        flex-direction: column;
        column-gap: 100px;
    }
    
    .rules.visible {
        display: flex;
    }

    .rules h1 {
        margin-top: 60px;
    }

    .rules h2 {
        margin-top: 0px;
    }

    .stars {
        float: left;
        width: 30%;
        height: 35%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid green;
    }

    .game-container {
        display: grid;
        grid-template-columns: repeat(8, auto);
        grid-gap: 5px;
        margin-top: 100px;
        justify-content: center;
        perspective: 500px;
    }
    
    .game-info {
        font-size: 0.9em;
        text-shadow: 0px 0px 15px green;
    }
    
    .card {
        position: relative;
        height: 85px;
        width: 60px;
    }

    .card-face {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        box-shadow: 0px 0px 10px green;
        transition: transform 500ms ease-in-out;
    }

    .overlay-text {
        font-size: 1.3em;
        text-shadow: 0px 0px 30px green;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .overlay-button {
        display: flex;
        height: 30px;
        width: 100px;
        font-size: 0.6em;
        background-color: green;
        font-weight: bolder;
        color: white;
        border: none;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        cursor: pointer;
    }

    .sfx {
        display: flex;
        z-index: 1000;
        height: 50px;
        width: 50px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.3em;
        color: green;
        border: none;
        position: fixed;
        bottom: -5px;
        left: 20px;
        cursor: pointer;
    }
}



/*-----animations-----*/

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
}

@keyframes overlay-grow {
    from {
        background: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.623);
    }
}

@keyframes overlay-button-grow {
    from {
        background: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: green;
        font-size: 0;
    }
}

@keyframes info-grow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        display: flex;
    }
    100% {
        display: none;
    }
}


